@import '../shared-mixins.scss';

.badge {
  min-width: px-to-rem(46px);
  min-height: px-to-rem(22px);
  display: inline-flex;     
  align-items: center;     
  justify-content: center;
  border: none;
  cursor: pointer;
  
  font-size: var(--prima-font-size);
  font-family: var(--prima-font-family);
  font-weight: 700;
  line-height: 150%;
  color: var(--prima-button-color-inverse);

  padding: var(--prima-spacing-4xs) var(--prima-spacing-3xs);
  margin-left: var(--prima-spacing-3xs);
  border-radius: px-to-rem(12px);

  @media (min-width: 768px) {
    min-width: px-to-rem(54px); 
    min-height: px-to-rem(26px);
    padding: var(--prima-spacing-3xs) var(--prima-spacing-2xs);
    margin-left: var(--prima-spacing-2xs);
  }

  &__neutral {
    background: var(--SurfaceHigh);
  }
  &__positive {
    background: var(--SurfacePositive);
  }
  &__negative {
    background: var(--SurfaceNegative);
  }
}
