* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

:root {
  color-scheme: light dark;
  --c-light: #FFFFFF;
  --c-dark: #111111;
  
  --prima-white: #FFFFFF;
  --prima-dummy-content: #D9D9D9;

  --SurfaceHigh: #F1F1F7;
  --SurfacePositive: #B1FFC7;
  --SurfaceNegative: #FFBFB1;

  --prima-font-size: 0.75rem; /* 12px */
  --prima-font-size-m: 0.9rem; /* 14px */
  --prima-font-family: "Inter", Arial, Helvetica, sans-serif;
  --prima-line-height: 150%;

  --prima-spacing-0: 0rem; /* 0px */
  --prima-spacing-4xs: 0.125rem; /* 2px */
  --prima-spacing-3xs: 0.25rem; /* 4px */
  --prima-spacing-2xs: 0.5rem; /* 8px */
  --prima-spacing-xs: 0.75rem; /* 12px */
  --prima-spacing-s: 1rem; /* 16px */
  --prima-spacing-m: 1.25rem; /* 20px */
  --prima-spacing-l: 1.5rem; /* 24px */
  --prima-spacing-xl: 2rem; /* 32px */
  --prima-spacing-2xl: 3rem; /* 48px */

  --prima-button-color-inverse: #1B2134;
  --prima-button-color-inverse-hover: #343A4E;
  --prima-button-color-inverse-active: #585D71;

  --outline-color: #D3D3DC;
  --surface-hover-color: #F6F6FA;
  --outline-hover-color: #C4C5CF;

}

body {
  background-color: light-dark(var(--c-light), var(--c-dark));
  display: grid;
  font-size: var(--prima-font-size);
  font-family: var(--prima-font-family);
  line-height: var(--prima-line-height);
  margin: 0;
  min-height: 100vh;
  place-content: center;
  font-optical-sizing: auto;
  font-style: normal;

  @media (min-width: 768px) {
    /* Styles for screens 768px and above */
    font-size: var(--prima-font-size-m);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap; /* Prevent the element from wrapping */
  clip-path: inset(50%);
}
